.card {
  min-height: 650px;
}

.card-container .btn:hover {
  background-color: #666;
}

.zoom {
  -color: #ccc;
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.25
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.bi-star-fill {
  color: #ffe135;
}
