.card {
  min-height: 715px;
}

.card-container .btn:hover {
  background-color: #666;
}

.zoom {
  -color: #ccc;
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.05
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.bi-star-fill {
  color: #ffe135;
}

.alert {
    width: 100%;
    background: rgb(19, 120, 19);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}
